body#adminBody
  aside#sidenav-main.sidenav.navbar.navbar-vertical.navbar-expand-xs.border-0.border-radius-xl.my-3.fixed-start.ms-3.bg-gradient-dark

    .sidenav-header
      i#iconSidenav.fas.fa-times.p-3.cursor-pointer.text-white.opacity-5.position-absolute.end-0.top-0.d-none.d-xl-none(aria-hidden='true')
      a.navbar-brand.m-0(href='#' target='_blank')
        span.ms-1.font-weight-bold.text-white Lazeeza Jewellery Admin
    hr.horizontal.light.mt-0.mb-2

    #sidenav-collapse-main.collapse.navbar-collapse.w-auto.max-height-vh-100
      ul.navbar-nav

        li.nav-item
          a.nav-link.text-white.active.bg-gradient-primary.mb-2(href='/allCategories')
            .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center
            span.nav-link-text All Categories

        li.nav-item
          a.nav-link.text-white.bg-gradient-primary.mb-2(class="'active" href='/addCategory')
            .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center 
            span.nav-link-text Create Category

        li.nav-item
          a.nav-link.text-white.active.bg-gradient-primary.mb-2(href='/allProducts')
            .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center
            span.nav-link-text All Products

        li.nav-item
          a.nav-link.text-white.active.bg-gradient-primary.mb-2(href='/addProduct')
            .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center
            span.nav-link-text Create Product

    .sidenav-footer.position-absolute.w-100.bottom-0
      .mx-3
        a.btn.bg-gradient-primary.mt-4.w-100.logoutBtn(href='#' type='button') Logout
