extends base

block content 
  main
    .nav
      ul
        li.button Home
        li.button About Us
        li.button Book a Session/Report a Bully
        li.button Contact
      input.search.button(type='text' placeholder='Search...')
    .main-content
      .text
      .images
        .image
        .image
      .quotes
        .quote-container
          h1.quote Quote of the Day
        .box
      .links
        .box
        .links-box
          h1.link usefull link
      .book
        h1.book-heading Looking to Book A Session?
        .big-box
        h3 Book a session today!
    
    
            button.featuredp-slider-btn.featuredp-slider-btn__left &larr;
            button.featuredp-slider-btn.featuredp-slider-btn__right &rarr;
            .dots
    
    
    
        
